<div class="form-group">
  <%= label_tag 'scenario' %>
  <%= select_tag(:scenario, options_for_select(@scenarios, params[:scenario]), class: 'form-control') %>
</div>

<% if @advocate_types.present? %>
  <div class="form-group">
    <%= label_tag 'advocate_type' %>
    <%= select_tag(:advocate_type, options_for_select(@advocate_types, params[:advocate_type]), class: 'form-control') %>
  </div>
<% end%>

<div class="form-group">
  <%= label_tag 'offence_class' %>
  <%= select_tag(:offence_class, options_for_select(@offence_classes, params[:offence_class]), class: 'form-control') %>
</div>

<div class="form-group">
  <%= label_tag 'fee_type' %>
  <%= select_tag(:fee_type_code, options_for_select(@fee_types, params[:fee_type_code]), class: 'form-control') %>
</div>