<!DOCTYPE html>
<html>
  <head>
    <title>LAA fee calculator demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="main-container" class="container">
      <div class="row", style="background-color: #F7F7F7; padding: 20px;">
        <div class="col-md-12"></div>
          <h3>LAA fee calculator client application</h3>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
